<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Academy.E2EProject.Listeners"/>
<listener class-name="Resources.ExtentReporterNG"/>
</listeners>
  <test thread-count="5" name="ValidateTitle">
    <classes>
      <class name="Academy.E2EProject.ValidateTitle"/>
       </classes>
     </test>
     <test name="HomePageTest">
     <classes>
     <class name="Academy.E2EProject.HomePageTest"/>
     </classes>
          </test>  
     <test name="ValidateNavBar">
     <classes>
     <class name="Academy.E2EProject.ValidateNavBar"/>
     </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->
